<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MasterBath Temp</title>
	<script>
		function timedRefresh(timeoutPeriod) {
			setTimeout("location.reload(true);", timeoutPeriod);
		}

		window.onload = timedRefresh(1000);
	</script>
</head>

<body>
	<p>Master Bathroom:{{masterT}}</p>
	<a href="/warmMaster">
		<button
			style="display:block; width:100%; height:25vh; background-color:blue; color:black; font-size: 20px; text-align:center">
			Press to warm up water in the master bedroom
		</button>
	</a>

</body>

</html>
